/** RESPONSIVE **/

@media all and (min-width: 576px) {
  .column {
    flex: 1 auto;
  }
}
@media all and (min-width: 768px) {
  .main {
    flex: 48 0px;
  }
  .sidebar-column-start {
    order: 1;
  }
  .main {
    order: 2;
  }
  .sidebar-column-end {
    order: 3;
  }
  .footer {
    order: 4;
  }
}
