/* HEADER */
.header {
  background-color: $white;
  display: flex;
  align-items: center;
  width: 100%;
  box-shadow: 0 2px 0 0 rgba(7, 31, 50, 0.1);
  position: fixed;
  top: 0;
  padding: 1rem 2rem;
  width: 100%;
  z-index: 1001;
  box-sizing: border-box;
  .brand {
    width: 15rem;
    margin-right: 4rem;
    .logo {
      font-size: 2em;
      margin: 0.85rem 0;
      max-width: none;
    }
  }
  & > section {
    width: 100%;
  }
  .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    & > ul {
      display: flex;
      justify-content: start;
      align-items: center;
      margin: 0;
      & > li > a {
        color: #071f32;
        font-weight: 600;
        font-size: 1.8rem;
        &:hover {
          border-top: 5px solid #071f32;
        }
      }
      &:last-child > li > a {
        color: #354bcf;
        &:hover {
          border-top: 5px solid #354bcf;
        }
      }
    }
    .nav-items {
      margin-top: 0;
      gap: 0 6rem;
      .search-button {
        transition: transform 0.2s ease;
        background: linear-gradient(to left, #e8e8e8 50%, #071f32 50%) right;
        background-size: 200% 100%;
        transition: all 0.4s ease;
        padding: 1.2rem 1.5rem;
        color: $dark;
        &:hover {
          background-position: left;
          transition: all 0.4s ease;
          color: #fff;
        }
      }
    }
  }
}
